.support {
	background: url(../img/common/support.png) left center no-repeat;
	height: 65px;
}
.support h5 {
	padding: 8px 0px 0px 55px;
	color: rgb(247, 5, 5);
	margin-bottom: -10px;
}
.support h3 {
	padding: 0px 0px 0px 60px;
	color : rgb(34, 34, 207);
	font-size: 18px;
	margin-top: 0px;
	margin-left: 10px;
	font-size: 20px;
}
.hotline {
	background: url(../img/common/hotline.png) left center no-repeat;
	height: 55px;
}
.hotline span {
	color: #FFF;
	font-weight: bold;
	font-size: 22px;
	margin-top: 10px;
	margin-left: 70px;
	display: inline-block;
}
.fanpage{display: block;height: 250px;width: 100%;z-index: 99999;top:0%;}
.fanpage iframe {border: medium none; overflow: hidden; height: 250px;width: 270px;background: #fff; border-bottom: solid 1px #aaa;}
.fanpage div{border:none;position:relative;display:block;}
.pagination ul li.selected a{
	background: rgb(219, 215, 215);
}
h1, h2, h3, h4, h5 {
	color : #3909D1;
}
.error {
	color: red;
}
.news .item {
 border: 1px solid rgba(173, 172, 172, 0.368627);
 padding:3px;
 margin-bottom: 5px;
}